<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo>
        <plugin filename="libign_ros2_control-system.so"
                name="ign_ros2_control::IgnitionROS2ControlPlugin">
            <parameters>$(find armstrong_controller)/config/armstrong_v1_controllers.yaml</parameters>
        </plugin>
    </gazebo>

</robot>